<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style-admin.css" />
	<f:metadata>
   	 <f:viewParam name="id" value="#{certificadoDetalhesBean.certificadoId}" />
	</f:metadata>
</h:head>

<h:body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Soluti Cliente</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Detalhes Certificado</a></li>
				<li><h:link value="Cadastro" outcome="form" /></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	</nav>
	<div class="container">
		<h1>Detalhes Certificado</h1> 
		<h:messages />
		
		<h:form>
		 #{certificadoDetalhesBean.certificado}
		</h:form>
		<h:link value="LISTA CERTIFICADO" outcome="index" styleClass="btn btn-primary" />
	 
	</div>
</h:body>
</html>
