<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style-admin.css" />
</h:head>

<h:body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Soluti Cliente</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><h:link value="Lista" outcome="index" /></li>
				<li class="active"><a href="#">Cadastro</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	</nav>
	
	<div class="container">
		<h1>Cadastro de Certificado</h1> 
		<h:form enctype="multipart/form-data">
			<div class="form-group">
				<h:outputLabel value="Nome do Certificado" />
				<h:inputText value="#{certificadoFormBean.certificado.nome}" required="true"
					id="titulo" styleClass="form-control" />
				
			</div>
			<div class="form-group">
				<h:outputLabel value="Certificado (PEM)" />
				<h:inputFile value="#{certificadoFormBean.certificadoPath}" id="certificado" styleClass="form-control" />
				
			</div>
			<h:commandButton value="ENVIAR" action="#{certificadoFormBean.enviar}" styleClass="btn btn-primary" />
		</h:form>
	</div>
</h:body>
</html>
